@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2E53;
    height: 180px;
}

.logo img{
    cursor: pointer;
    height: 150px;
    margin-left: 30px;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

nav li {
    list-style-type: none;
    display:inline-block;
    align-items: center;
    transition: all 0.3s;
}

li:hover{
    transform: scale(1.2);
}

nav li a {
    text-decoration:solid;
    text-shadow: 1.6px 1.6px 1.6px #202E53, 1.6px 1.6px 1.6px #94D4D6;
    color:#F4CF9F;
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px; 
    font-weight: bold;
    margin-right: 20px; 
    transition: all 0.3s;
}

a:hover{
    color:white;
}

main {
    height: 120vw;
    width: 99.9vw;
    display: flex;
    align-items:center;
    justify-content:center;
    background: url(/img/juan-silvia1.jpg);
    background-size: cover;
    background-position: center;
}

.intro {
    color: #E6E6E6;
    text-decoration: none;
    text-align: center;
    width: 60%;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 1px #202E53, 1px 1px 1px #94D4D6;
}

.lover, .p1{
    margin-top: 20px;
}

footer {
    background-color: #1F2E53;
}

.container1{
    display: flex;
    justify-content: space-around;
}

.enlaces{
    display: flex;
    gap: 35px;
    padding: 20px;
}

a{
    color: salmon;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 15px;
}

.iconitos{
    display: flex;
    margin-right: 25px;
}

.icoface, .icoinsta, .icowhat{
    margin-right: 20px;
    margin-top: 8px;
}

.copy{
    font-size: 10px;
    text-decoration: none;
    color: salmon;
    font-family: sans-serif;
    margin-left: 25px;
    margin-bottom: 5px;
}

.derechos{
    font-size: 10px;
    text-decoration: none;
    color: salmon;
    font-family: sans-serif;
    margin-right: 10px;
    margin-bottom: 5px;
}

.copyright{
    width: 10px;
}

.terminos{
    display: flex;
    margin-top: 20px;
}

.firus{
    height: 100vw;
    width: 99.99vw;
    display: flex;
    align-items:center;
    justify-content:center;
    background: linear-gradient(to right,rgb(0 0 0 /.5), rgb(0 0 0 /.5)),url(/img/juan-silvia.jpg);
    background-size: cover;
    background-position: center;
}

.firulais{
    width: 450px;
    height: 650px;
    border: 5px solid #F4CF9F;
    border-radius: 10%;
    margin-right: 30px;
}

.texto-nosotros{
    text-decoration: none;
    text-align: center;
    width: 60%;
    height: 40%;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 1px #202E53, 1px 1px 1px #94D4D6;
    color:white;
}

.nosotros-parrafo{
    margin-top: 20px;
    margin-right: 30px;
}

.nosotros{
    margin-bottom: 30px;
}

.descripciones{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right,rgb(0 0 0 /.5), rgb(0 0 0 /.5)),url(/img/tionito-isologo-negativo.png);
    height: 440vw;
    width: 99.9vw;
    background-size: contain;
}

.producto-imagen{
    width: 450px;
    height: 450px;
    border: 5px solid #F4CF9F;
    border-radius: 10%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.explicacion{
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 1px #202E53, 1px 1px 1px #94D4D6;
    color:white;
    margin-top: 150px;
    margin-left: 50px;
}

.primavera, .unica, .capas, .pie, .carrot, .torre, .choco, .red, .cheese, .tira{
    margin-bottom: 25px;
    font-size: 40px;
}

.producto-card{
    background: linear-gradient(to right,rgb(0 0 0 /.5), rgb(0 0 0 /.5)),url(/img/tionito-isologo-negativo.png);
    height: 173vw;
    width: 99.9vw;
    background-size: contain;
}

.container{
    padding-top: 80px;
}

.acercar{
overflow: hidden;
}

.acercar img{
    transition: all 1.5s;
}

.acercar:hover img{
    transform: scale(1.3);                  
}

.card{
    margin-left: 10px;
    margin-top: 15px;
}

.card-img-top{
    margin-top: 5px;
}

.list-group-item{
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px; 
    font-weight: bold;
    color: #1F2E53;
    margin: 8px;
    cursor:pointer;
    transition:background-color 0.2s ease-in-out;
}

.list-group-item:hover{
    background-color: #F4CF9F;
}

.btn{
    margin: 12px;
}

@media(max-width:1400px){

    .row{
        margin-left: 75px;
    }

    .producto-card{
        height: 230vw;
    }
    
}

@media(max-width:1200px){

    .row{
        margin-left: 145px;
    }
    
    .producto-card{
        height: 290vw;
    }
}

@media(max-width:1024px){

    .texto-nosotros{
        font-size: 20px;
        margin-left: 20px;
    }

    .firulais{
        width: 400px;
        height: 600px;
    }

    .descripciones{
        height: 550vw;
    }

    .producto-imagen{
        width: 400px;
        height: 400px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .explicacion{
        font-size: 25px;
        margin-top: 100px;
        margin-left: 40px;
    }

    .producto-card{
        height: 420vw;
    }
}

@media(max-width:990px){

    .row{
        margin-left: 190px;
    }

    .producto-card{
        height: 675vw;
    }
    
}

@media(max-width:824px){

    header {
        height: 150px;
    }
    
    .logo img{
        height: 125px;
        margin-left: 30px;
    }
    
    nav li a {
        font-size: 15px; 
        margin-right: 15px; 
    }
    
    .intro{
        width: 65%;
        font-size: 25px;
    }

    .enlaces{
        gap: 30px;
        padding: 10px;
    }
    
    a{
        font-size: 10px;
    }
    
    .iconitos{
        margin-right: 20px;
    }
    
    .icoface, .icoinsta, .icowhat{
        margin-right: 20px;
        margin-top: 8px;
    }
    
    .copy{
        font-size: 10px;
        margin-left: 10px;
        margin-bottom: 3px;
    }
    
    .derechos{
        font-size: 8px;
        margin-right: 20px;
        margin-left: 15px;
    }
    
    .copyright{
        width: 8px;
    }
    
    .terminos{
        margin-top: 10px;
    }

    .firulais{
        width: 330px;
        height: 500px;
        margin-right: 15px;
    }

    .texto-nosotros{
        width: 40%;
        height: 60%;
        font-size: 15px;
    }

    .descripciones{
        height: 600vw;
    }

    .producto-imagen{
        width: 300px;
        height: 300px;
    }

    .explicacion{
        font-size: 20px;
        margin-top: 80px;
    }

    .primavera, .unica, .capas, .pie, .carrot, .torre, .choco, .red, .cheese, .tira{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .producto-card{
        height: 1100vw;
    }
}

@media(max-width:768px){

    .row{
        margin-left: 180px;
    }
}

@media(max-width:655px){

    header {
        height: 135px;
    }
    
    .logo img{
        height: 115px;
        margin-left: 20px;
    }
    
    nav li a {
        font-size: 10px; 
        margin-right: 10px; 
    }

    .intro {
        width: 70%;
        font-size: 20px;
    }
    
    .lover, .p1{
        margin-top: 15px;
    }
    
    .container1{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }

    .enlaces{
        gap: 10px;
        padding: 5px;
    }
    
    a{
        font-size: 8px;
    }
    
    .icoface, .icoinsta, .icowhat{
        margin-right: 5px;
        margin-top: 5px;
    }
    
    .copy{
        font-size: 5px;
        margin-left: 5px;
        margin-bottom: 3px;
    }
    
    .derechos{
        font-size: 6px;
        margin-right: 10px;
        margin-left: 8px;
    }
    
    .copyright{
        width: 5px;
    }
    
    .terminos{
        margin-top: 6px;
    }

    .iconitos{
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .firulais{
        width: 300px;
        height: 450px;
        margin-right: 10px;
    }

    .texto-nosotros{
        font-size: 13px;
    }

    .descripciones{
        grid-template-columns: 1fr;
        height: 1000vw;
    }
    
}

@media(max-width:480px){

    header {
        height: 120px;
    }
    
    .logo img{
        height: 100px;
        margin-left: 15px;
    }
    
    nav li a {
        font-size: 6px; 
        margin-right: 8px; 
    }

    .texto-nosotros{
        width: 40%;
        height: 50%;
        font-size: 8px;
        margin-left: 10px;
    }

    .nosotros{
        margin-bottom: 10px;
    }

    .nosotros-parrafo{
        margin-top: 15px;
        margin-right: 10px;
    }

    .producto-imagen{
        width: 250px;
        height: 250px;
        margin-top: 40px;
        margin-bottom: 110px;
    }
    
    .explicacion{
        font-size: 15px;
        margin-top: 40px;
        margin-left: 25px;
    }
    
    .descripciones{
        grid-template-columns: 1fr;
        height: 1420vw;
    }

    .primavera, .unica, .capas, .pie, .carrot, .torre, .choco, .red, .cheese, .tira{
        margin-bottom: 25px;
        font-size: 30px;
    }

    .producto-card{
        height: 1950vw;
    }

    .row{
        padding-left: 0;
        margin-right: 70px;
    }
    
}

@media(max-width:425px){

    .row{
        margin-left: 80px;
    }
}

@media(max-width:375px){

    .producto-card{
        height: 2160vw;
    }
}

@media(max-width:320px){

    .producto-card{
        height: 3060vw;
    }
}